<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="br.com.stek.rtsplayer" version="1.0.0">
   <name>rtsplayer</name>
   <js-module name="rtsplayer" src="www/rtsplayer.js">
      <clobbers target="cordova.plugins.rtsplayer" />
   </js-module>
   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="rtsplayer">
            <param name="ios-package" value="rtsplayer" />
         </feature>
      </config-file>
      <header-file src="src/ios/rtsplayer.h" />
      <source-file src="src/ios/rtsplayer.m" />
      <header-file src="src/ios/rtsplayerViewController.h" />
      <source-file src="src/ios/rtsplayerViewController.m" />
      <resource-file src="src/ios/rtsplayerViewController.xib" />
      <header-file src="src/ios/FFFrameExtractor.h" />
      <source-file compiler-flags="-I/usr/local/FFMpegiOS/include/ -I/usr/local/FFMpegiOS/include/libavcodec/ -I/usr/local/FFMpegiOS/include/libavformat/ -I/usr/local/FFMpegiOS/include/libswscale/" src="src/ios/FFFrameExtractor.m" />
      <framework src="libiconv.dylib" />
      <framework src="libz.dylib" />
      <framework src="libbz2.dylib" />
      <framework src="CoreVideo.framework" />
      <source-file framework="true" src="src/ios/FFMpegiOS/lib/libavcodec.a" />
      <source-file framework="true" src="src/ios/FFMpegiOS/lib/libavdevice.a" />
      <source-file framework="true" src="src/ios/FFMpegiOS/lib/libavfilter.a" />
      <source-file framework="true" src="src/ios/FFMpegiOS/lib/libavformat.a" />
      <source-file framework="true" src="src/ios/FFMpegiOS/lib/libavutil.a" />
      <source-file framework="true" src="src/ios/FFMpegiOS/lib/libswresample.a" />
      <source-file framework="true" src="src/ios/FFMpegiOS/lib/libswscale.a" />
   </platform>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="rtsplayer">
            <param name="android-package" value="br.com.stek.rtsplayer.rtsplayer" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml">
         <uses-permission android:name="android.permission.INTERNET" />
         <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
         <uses-permission android:name="android.permission.WAKE_LOCK" />
         <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
         <uses-permission android:name="android.permission.RECORD_AUDIO" />
         <uses-permission android:name="android.permission.CAMERA" />
      </config-file>
       <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity android:name="br.com.stek.rtsplayer.rtsplayerActivity"></activity>
      </config-file>
      <source-file src="src/android/rtsplayer.java" target-dir="src/br/com/stek/rtsplayer" />
      <source-file src="src/android/rtsplayerActivity.java" target-dir="src/br/com/stek/rtsplayer" />
   </platform>
</plugin>